/*===========================================================================
    General 
===========================================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Darcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --VeryDarkBlue: hsl(212, 21%, 14%);
  --DarkGrayishBlue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

body {
  background: hsl(30, 38%, 92%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 701px) {
    height: 100%;
  }
}

/*===========================================================================
    Utility classes
===========================================================================*/

.d-flex {
  display: flex;
}

.d-flex-j-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-j {
  display: flex;
  align-items: center;
}

.d-flex-column-j {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text__name {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}

.text__name--Grayis {
  color: var(--DarkGrayishBlue);
}

.button {
  margin-top: 1rem;
  border: none;
  background: var(--Darcyan);
  border-radius: 0.4rem;
  height: 2.7rem;
  color: var(--White);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 0.9rem;
  svg {
    margin-right: 1rem;
  }
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    background: var(--VeryDarkBlue);
  }
}

/*===========================================================================
    Main
===========================================================================*/

.main {
  max-width: 700px;
  //width: 45%;
  background: var(--White);
  border-radius: 0.5rem;
  height: 450px;
  @media (max-width: 701px) {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.picture {
  #mobile {
    display: none;
  }

  #desktop {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.5rem;
  }

  @media (max-width: 701px) {
    #desktop {
      display: none;
    }
    #mobile {
      display: block;
      width: 100%;
      height: 100%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
}

.text__block {
  background: var(--White);
  border-radius: 0.5rem;
  width: 50%;
  @media (max-width: 701px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
  }
}

.text__container {
  width: 80%;
}

.text__block__information {
  width: 85%;
}

.text__primary {
  font-family: "Fraunces", serif;
  max-width: 200px;
  text-transform: capitalize;
  padding-top: 1rem;
}

.text__block__information {
  p {
    color: var(--DarkGrayishBlue);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    padding-top: 1rem;
  }
}

.prices__block {
  margin-top: 1rem;
}

.text__prices__primary {
  color: var(--Darcyan);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  padding-right: 1.5rem;
}

.prices__text {
}

.text__prices__disable {
  font-family: "Montserrat", sans-serif;
  color: var(--DarkGrayishBlue);
  text-decoration: line-through;
  font-size: 0.9rem;
  opacity: 0.8;
  font-weight: 500;
}
